@font-face {
    font-family: "Pacifico-Regular";
    src: url('/fonts/Pacifico-Regular.ttf');
}
.all{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.head {
    width: 100%;
    height: 100px;
}

.foot {
    width: 100%;
    height: 100px;
    background-color: #3F51B5;
    margin-top: 50px;
    padding: 10px 200px;
}
.foot p{
    font-size: 0.8em;
    font-family: "Pacifico-Regular";
    width: 372px;
    color: #bc8774;
}

.main {

    display: flex;
}
.blank {
    width: 200px;
}

.shadow {
    text-shadow: 0px 0.5px 0.1px #888;
}  