
.tooltip{
    position: absolute;
    top: 0;
    left:0;
    width: 94px;
    background-color: white;
    pointer-events: none;
    text-align: center;
    display: flex;
    /* overflow: hidden; */
}
.tooltipText{
    color: #686868;
    padding: 10px 40px;
    margin: 0;
    position: absolute;
    /* width: 100%; */
    text-align: center;
    bottom: 0;
}